[package]
name = "karlsen-wrpc-simple-client-example"
description = "Karlsen wRPC simple client example"
publish = false
rust-version.workspace = true
version.workspace = true
edition.workspace = true
authors.workspace = true
include.workspace = true
license.workspace = true
repository.workspace = true

[dependencies]
futures.workspace = true
karlsen-rpc-core.workspace = true
karlsen-wrpc-client.workspace = true
tokio.workspace = true


[lints]
workspace = true